/*
DESENVOLVEDOR: Felipe Souza
GITHUB: https://github.com/FelipeSysten
LINKEDIN: https://www.linkedin.com/in/felipe-souza-746ab8142/
DATA: 08/01/2024
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', system-ui;
/* font-family: 'Roboto', sans-serif; */
}